<font size="5">DICTIONARIES</font>

<font size="3">Dictionaries Basic</font>

In [1]:
# Creating a dictionary
person = {
    "name": "Harsh",
    "age": 21,
    "city": "Delhi"
}

# Accessing values
print(person["name"])

# Adding a new key-value pair
person["email"] = "harsh@example.com"
print(person)

# Modifying a value
person["age"] = 22
print(person)

Harsh
{'name': 'Harsh', 'age': 21, 'city': 'Delhi', 'email': 'harsh@example.com'}
{'name': 'Harsh', 'age': 22, 'city': 'Delhi', 'email': 'harsh@example.com'}

<font size="3">Operations</font>

In [2]:
# Checking if a key exists
print("name" in person)

# Removing a key-value pair
del person["city"]
print(person)

# Get a value with default if the key doesnâ€™t exist
print(person.get("city", "Not Found"))

True
{'name': 'Harsh', 'age': 22, 'email': 'harsh@example.com'}
Not Found

<font size="3">Comprehensions</font>

In [4]:
# Create a dictionary of squares
squares = {x: x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

<font size="3">Dictionaries Methods</font>

In [6]:
# keys(), values(), and items() methods
print(person.keys())
print(person.values())
print(person.items())  

# pop() - Removes the specified key and returns its value
age = person.pop("age")
print(age)  
print(person) 

# update() - Update dictionary with another dictionary or key-value pairs
person.update({"age": 23, "city": "Delhi"})
print(person)

dict_keys(['name', 'age', 'email'])
dict_values(['Harsh', 22, 'harsh@example.com'])
dict_items([('name', 'Harsh'), ('age', 22), ('email', 'harsh@example.com')])
22
{'name': 'Harsh', 'email': 'harsh@example.com'}
{'name': 'Harsh', 'email': 'harsh@example.com', 'age': 23, 'city': 'Delhi'}

<font size="5">TUPLES</font>

<font size="3">Tuples Basics</font>

In [7]:
# Creating a tuple
person_tuple = ("Harsh", 21, "Delhi")

# Accessing tuple elements
print(person_tuple[0])

# Tuples are immutable, so the following line would raise an error if uncommented:
# person_tuple[1] = 22

Harsh

<font size="3">Tuples Comprehensions</font>

In [8]:
# Creating a tuple using a generator expression
squares_tuple = tuple(x**2 for x in range(5))
print(squares_tuple)

(0, 1, 4, 9, 16)

<font size="3">Tuple Methods</font>

In [9]:
# count() - Counts the occurrences of an element in the tuple
nums = (1, 2, 2, 3, 4)
print(nums.count(2))

# index() - Finds the index of the first occurrence of an element
print(nums.index(3))

2
3

<font size="5">SETS</font>

<font size="3">Sets Basics</font>

In [12]:
# Creating a set
fruits = {"apple", "banana", "cherry"}

# Adding elements
fruits.add("orange")
print(fruits)  

# Removing elements
fruits.remove("banana")
print(fruits) 

# Trying to add duplicate items (sets ignore duplicates)
fruits.add("apple")
print(fruits)

{'apple', 'banana', 'cherry', 'orange'}
{'apple', 'cherry', 'orange'}
{'apple', 'cherry', 'orange'}

<font size="3">Sets Operations</font>

In [13]:
# Checking membership
print("apple" in fruits)

# Removing elements safely using discard() (no error if the element doesn't exist)
fruits.discard("banana")

True

<font size="3">Union</font>

In [14]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

<font size="3">Intersection</font>

In [15]:
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

<font size="3">Difference and Symmetric Difference</font>

In [16]:
# Difference
difference_set = set1.difference(set2)
print(difference_set) 

# Symmetric Difference
sym_diff_set = set1.symmetric_difference(set2)
print(sym_diff_set)

{1, 2}
{1, 2, 4, 5}