<font size="5">VARIABLES AND PRINT() FUNCTION</font>

In [24]:
# Assigning values to variables

a = 10  #Integer
b = 15.0  #Float
c = "Hello, Python!"  #String


# Displaying values using print() function

print(a)
print(b)
print(c)

10
15.0
Hello, Python!

In [25]:
# Multiple assignments

x, y, z = 5, "Harsh", 15.0   # We can assign different data types to variables in a single line

print(x)
print(y)
print(z)

5
Harsh
15.0

In [26]:
# Re-assigning variables

a = 20
print(a)

20

In [27]:
# Using variables in expressions(the data types must be the same to perform operations)

# Uncomment to see error: result = x + y + z  # It will show an error because we cannot perform addition on numeric types and string type
# print(result)

# adding x and z since both are numeric types

result = x + z
print(result)  # The result is a float because one of the operands (z) is a float, and Python preserves precision by returning a float.

20.0

In [29]:
# Variables with different data types

name = "Harsh Gupta"  # String
age = 20   # Integer
is_student = True   # Bool

print(name)
print(age)
print(is_student)

Harsh Gupta
20
True

In [30]:
# Assigning the same string value to multiple variables

x = y = z = "I Love Icecream"

print(x)
print(y) 
print(z)

I Love Icecream
I Love Icecream
I Love Icecream

<font size="5">INPUT FROM USER</font>

In [31]:
# Input from user using input() function

name = input("Enter your name: ")
age = int(input("Enter your age: "))  # Converting input to integer

print(f"Hello {name}, you are {age} years old.")

Enter your name:  Harsh Gupta
Enter your age:  20

Hello Harsh Gupta, you are 20 years old.

<font size="5">DATA TYPES</font>

In [32]:
# Data Types

# (a) Numbers(int,float,complex)

x = 5 # Integer
y = 3.14 # Float
z = 3 + 5j # Complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [33]:
# (b) Strings

string = "Hello, Python!"
print(string)
print(string[0])  # Accessing first character
print(string[-1])  # Accessing last character
print(string[0:5])  # Slicing a string
print(len(string))  # Length of the string

Hello, Python!
H
!
Hello
14

In [34]:
# (c) Lists

fruits = ["apple", "banana", "cherry"]
print(fruits)
print(fruits[1])  # Accessing by index

# Modifying a list
fruits[1] = "blueberry"
print(fruits)

# List operations
fruits.append("orange")  # Add an element at last
print(fruits)

['apple', 'banana', 'cherry']
banana
['apple', 'blueberry', 'cherry']
['apple', 'blueberry', 'cherry', 'orange']

In [35]:
# (d) Dictionaries

person = {"name": "Harsh", "age": 21, "city": "Delhi"}
print(person)
print(person["name"])  # Accessing a value by key

# Adding a new key-value pair
person["email"] = "harsh@example.com"
print(person)

{'name': 'Harsh', 'age': 21, 'city': 'Delhi'}
Harsh
{'name': 'Harsh', 'age': 21, 'city': 'Delhi', 'email': 'harsh@example.com'}

In [36]:
# (e) Tuples

coordinates = (10, 20)
print(coordinates)
print(coordinates[0])

# Tuples are immutable, so you cannot modify them directly
# Uncomment to see error: coordinates[0] = 30

(10, 20)
10

In [37]:
# (f) Sets

colors = {"red", "green", "blue"}
print(colors)

# Adding an element to a set
colors.add("yellow")
print(colors)

# Sets do not allow duplicates
colors.add("red")
print(colors)  # Output will still have only one 'red'

{'red', 'blue', 'green'}
{'red', 'blue', 'green', 'yellow'}
{'red', 'blue', 'green', 'yellow'}

In [38]:
# (g) Other Types

x = None  # NoneType
print(type(x))

is_sunny = True  # Boolean
print(is_sunny)
print(type(is_sunny))

<class 'NoneType'>
True
<class 'bool'>

<font size="5">OPERATORS</font>

In [39]:
# (a) Arithmetic Operators

x = 10
y = 3

print(x + y)  # Addition
print(x - y)  # Subtraction
print(x * y)  # Multiplication
print(x / y)  # Division
print(x // y)  # Floor division
print(x % y)  # Modulus
print(x ** y)  # Exponentiation

13
7
30
3.3333333333333335
3
1
1000

In [40]:
# (b) Relational Operators

x = 10
y = 3

print(x > y)   # Greater than 
print(x < y)   # Less than
print(x >= y)  # Greater than or equal to
print(x <= y)  # Less than or equal to
print(x == y)  # Equal to
print(x != y)  # Not equal to

True
False
True
False
False
True

In [41]:
# (c) Bitwise Operators

x = 10  # Binary: 1010
y = 4   # Binary: 0100

print(x & y)  # Bitwise AND
print(x | y)  # Bitwise OR
print(x ^ y)  # Bitwise XOR
print(~x)     # Bitwise NOT
print(x << 1) # Left Shift
print(x >> 1) # Right Shift

0
14
14
-11
20
5

In [42]:
# (d) Logical Operators

a = True
b = False

print(a and b)  # Logical AND 
print(a or b)   # Logical OR
print(not a)    # Logical NOT

False
True
False

<font size="5">TYPE  CONVERSION</font>

In [43]:
# Integer to Float
num_int = 5
num_float = float(num_int)  # Convert int to float
print(num_float)  # Output: 5.0

# Float to Integer
num_float = 7.8
num_int = int(num_float)  # Convert float to int (truncates the decimal)
print(num_int)  # Output: 7

# String to Integer
num_str = "10"
num_int = int(num_str)  # Convert string to int
print(num_int)  # Output: 10

# String to Float
num_str = "15.5"
num_float = float(num_str)  # Convert string to float
print(num_float)  # Output: 15.5

# Using str() to convert numbers to strings
num = 100
num_str = str(num)  # Convert int to string
print(num_str)  # Output: "100"

5.0
7
10
15.5
100